*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    font-family: "Poppins", sans-serif;
}
body > div {
    margin: 5% auto 0;
    max-width: 720px;
}
.tabs {
    display: flex;
    position: relative;
}
.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #333;
    transition: all 0.2s ease;
}
.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 18px;
    text-align: center;
    /* color: #c23564; */
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}
.tab-icon {
    font-size: 24px;
    width: 32px;
    position: relative;
    top: 2px;
}
.tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
}
.tab-item.active {
    opacity: 1;
}
.tab-content {
    padding: 28px 0;
    border: 2px solid ;
}
.tab-pane {
    color: #333;
    display: none;
}
.tab-pane.active {
    display: block;
}


.dataform {
    display: flex;
    justify-content: space-around;
}

/* .method input,label {
    color: #c23564;
} */

/* .method-btn {
    min-width: 100px;
    height: 40px;
    color: #c23564;
    background-color: #fff;;
    font-size: 20px;
    border: solid 2px;
    border-radius: 5px;
} */
.method-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}
.result {
    border: 1px solid;
    width: inherit;
    height: 30px;
    padding: 0 50px;
    text-align: center;
}
input {
    text-align: center;
}
.invalid {
    border: 2px solid red;
}

.menu {
    display: block;
    justify-content: center;
    width: 200px;
    height: 300px;
    position: absolute;
    left: 40%;
    top: 20%;
    border: 1px solid;
    color:rgb(39, 21, 2);
}

.menu.hide {
    display: none;
}

.list {
    position: absolute;
    width: inherit;
    height: inherit;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 100;
}

.item {
    border-top: 1px solid;
    display: flex;
    height:  22.8%;
    align-items: center;
    justify-content: center;
    background-color: #1483762d;
}

.item:hover {
    cursor: pointer;
    background-color: #14837617;
    opacity: 0.8;
}

.after-menu.hide {
    display: none;
}

.tab-item.hide {
    display: none;
}

.tab-item.active.hide {
    display: none;
}

.tab-content.hide {
    display: none;
}

.line.hide {
    display: none;
}


